
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  text-decoration: none;
  font-family: 'pokemon-gb-regular', sans-serif;
  font-weight: bold;
}

@font-face {
  font-family: "pokemon-gb-regular";
  src: url(./assets/fonts/Pokemon_GB.ttf);
  font-weight: normal;
  font-style: normal;
}

html {
  background: url("/src/images/pokemongif.gif") no-repeat center fixed;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  image-rendering: pixelated;
}

.mainContainer {
  width: 100%;
  height: 100%;
}

.mainOuterContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainInnerContainer {
  position: relative;
  border-image: url(./images/frame-hd.png) 42 round;
  border-width: 21px;
  border-style: solid;
  padding: 1em;
  margin: 1em 0 0 0;
  width: 50%;
  max-width: 100%;
  background-color: #ffffff;
}

.mainInner2Container {
  display: flex;
  justify-content: center;
}

.pokemonName {
  font-size: 3vw;
  font-family: 'pokemon-gb-regular', sans-serif;
}

.pokemonNameOuter {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pokemonNummerOuter {
  display: flex;
  justify-content: center;

}

.fetcherImgOuter {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.fetcherImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.pokemonNummer {
  font-family: 'pokemon-gb-regular', sans-serif;
}