@import url('https://fonts.cdnfonts.com/css/pok');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  text-decoration: none;
  font-family: "Nexa", sans-serif;
  font-weight: bold;
  font-family: 'Pokemon Solid', sans-serif;
  font-family: 'Pokemon Hollow', sans-serif;
}

html {
  background: url("/src/images/pokemongif.gif") no-repeat center fixed;
  background-size: cover;
  image-rendering: pixelated;
}

.mainContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainInnerContainer {
  width: 50vw;
  display: flex;
  justify-content: center;
  height: 75%;
  align-items: center;

}

.pokemonName {
  font-size: 3vw;
  font-family: 'Pokemon Solid', sans-serif;
  font-family: 'Pokemon Hollow', sans-serif;
}

.pokemonNameOuter {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pokemonNummerOuter {
  display: flex;
  justify-content: center;

}

.fetcherImgOuter {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.fetcherImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.pokemonNummer {
  font-family: 'Pokemon Solid', sans-serif;
  font-family: 'Pokemon Hollow', sans-serif;
}