* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  text-decoration: none;
  font-family: "Nexa", sans-serif;
  font-weight: bold;
}

html {
  background: url("/src/images/pokemongif.gif") no-repeat center fixed;
  background-size: cover;
  image-rendering: pixelated;
}